# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# IDE
.vscode/
.idea/

# Android
android/.gradle/
android/local.properties
android/key.properties
**/*.jks
**/*.keystore

# iOS
ios/Pods/

# Misc
Downloaded Installations/
*.msi